
.example {
    background-color: mistyrose;
    width: 75%;
    margin: auto;
    padding: 30px 30px 30px 40px;
}

.example-text {
    color: brown;
    font-size: 1.5em;
    font-variant: small-caps;
    margin: auto;
    width: 75%;
    padding: 10px 30px 20px 40px;
    background-color: cadetblue;
}

pre {
    padding: 10px 40px 10px 40px;
    color: brown;
    background-color: beige;
}

.main-title {
    color: cadetblue;
    text-align: center;
    font-size: 3em;
}

p  {
   padding: 5px 5px 5px 0px;  
}

div {
    padding: 20px 10px 10px 0px;
}